<!-- <h1>hello peter</h1> -->
<!-- <hr>
<app-child [ParentData]="childMsg"></app-child>
<app-child [DataStudent]="studentData"></app-child>
<hr> -->


<!-- <app-child (msgEvent)="recieveMsg($event)"> </app-child> -->
<!-- <h1>message from child::{{message}}</h1> -->

<!-- <app-child (connectValue)="rcvData($event)"></app-child> -->

<!-- <h2>{{greet}}</h2> -->
<app-new-child (dataShare)="msgShare($event)"></app-new-child>

<p> this msg from child :: {{newMsgShare}}</p>
<router-outlet></router-outlet>
